include borb/io/write/ascii_art/ascii_logo.txt
include borb/pdf/canvas/font/composite_font/cmaps/*
include borb/pdf/canvas/font/simple_font/afm/*.afm
include borb/pdf/canvas/layout/emoji/resources/*.png
include borb/pdf/canvas/layout/hyphenation/resources/*.json